
doctype html
html
    head
        style
            include style.css
    body
        div.header
            | HELLO
            br
            | This application is the way how software engineers can help each other to find a position in Japan.
        div
            block content
        br
        div
            | Best regards
